@model EventsViewModel

@{
    ViewBag.Title = "Events";
}

<div class="fancyLeft text-left">

    @{
        var now = DateTime.Now;
        var prev = now.AddMonths(-1);
        var next = now.AddMonths(1);

        var currentStarting = Model.Current.Starting - now;
        var totalSecondsLeft = Math.Floor(currentStarting.TotalSeconds);

        var europeStandardTime = Extensions.GetCentralEuropeanTimeZoneInfo();
        
        string initialCountDown;
        if (totalSecondsLeft <= 0)
        {
            initialCountDown = $"Event in progress ({Model.Current.Duration.Hours}:{Model.Current.Duration.Minutes})";
        }
        else
        {
            initialCountDown = Math.Floor(currentStarting.TotalHours).ToString("0#") + ":" +
                               currentStarting.Minutes.ToString("0#") + ":" +
                               currentStarting.Seconds.ToString("0#");
        }
    }

    <h1 id="tabTitle">Next Event In:</h1>
    <h2 style="margin-top: 10px;" id="next-event-countdown">@initialCountDown</h2>

</div>

<div class="fancyRight text-right">
    <h1>@Model.Current.Name</h1>
    <h2 class="local-date">@Model.Current.Starting.ToString("O")</h2>
</div>

<img id="eventsHeaderImage" alt="War of Rights Event Schedule" src="@Url.Content("~/img/during-the-american-civil-war.jpg")" class="imageMaxWidth">

<div id="currentsEventOptions" style="display: none;"></div>

<div id="calendar">
    <div id="monthsDisplay" class="fancyLeft">
        @await Html.PartialAsync("_Month", model: new EventsViewModel()
        {
            EventTemplates = Model.ScheduledEvents.Where(x => x.Starting.Month == prev.Month).ToList(),
            Current = new Event()
            {
                Starting = prev
            }
        })

        @await Html.PartialAsync("_Month", model: new EventsViewModel()
        {
            EventTemplates = Model.ScheduledEvents.Where(x => x.Starting.Month == now.Month).ToList(),
            Current = new Event()
            {
                Starting = now
            }
        })

        @await Html.PartialAsync("_Month", model: new EventsViewModel()
        {
            EventTemplates = Model.ScheduledEvents.Where(x => x.Starting.Month == next.Month).ToList(),
            Current = new Event()
            {
                Starting = next
            }
        })
    </div>

    <div id="eventTemplates" class="fancyRight">
        @foreach (var e in Model.EventTemplates)
        {
            if (e.Occurring is EventOccurrence.Yearly)
            {
                <h2>@e.Name</h2>
                <h3>@TimeZoneInfo.ConvertTime(e.Starting, europeStandardTime).ToString("dd MMMM, h:mm tt") CET
                    - @e.Occurring.ToString()
                </h3>
            }
            else if (e.Occurring is EventOccurrence.Weekly or EventOccurrence.Monthly)
            {
                <h2>@e.Name</h2>
                <h3>@TimeZoneInfo.ConvertTime(e.Starting, europeStandardTime).ToString("dddd, h:mm tt") CET
                - @e.Occurring.ToString()
                </h3>
            }
            else if (e.Occurring is EventOccurrence.Yearly or EventOccurrence.Once)
            {
                <h2 class="tableUnderline"><a target="_blank" class="displayCurrentEvents linkNoUnderline" href="@Url.Action("EventsAt", "Events", new { utcDate = new DateTimeOffset(e.Starting).ToUnixTimeSeconds() })">@e.Name</a></h2>
                <h3>@TimeZoneInfo.ConvertTime(e.Starting, europeStandardTime).ToString("dd MMMM, h:mm tt") CET
                    - @e.Occurring.ToString()
                </h3>
            }
           
            <p class="text-center">@e.Description</p>
        }
    </div>
</div>

@section scripts {
    <script src="lib/moment.js/moment.min.js"></script>
    <script src="lib/moment-timezone/moment-timezone-with-data.min.js"></script>

    <script>

        var eventCountDownTimer = null;
        var totalSeconds = @totalSecondsLeft;
        var eventCountDownContainer = document.getElementById("next-event-countdown");

        function updateEventCountDownTimer(totalSeconds) {

            if (totalSeconds < 0) {
                eventCountDownContainer.text("Event in progress");
                eventCountDownTimer = clearTimeout(eventCountDownTimer);
                return;
            }

            var hours = Math.floor(totalSeconds / 3600);
            var minutes = Math.floor((totalSeconds % 3600) / 60);
            var seconds = Math.floor(totalSeconds % 60);

            hours = hours < 10 ? "0" + hours : hours;
            minutes = minutes < 10 ? "0" + minutes : minutes;
            seconds = seconds < 10 ? "0" + seconds : seconds;

            eventCountDownContainer.innerText = hours + ":" + minutes + ":" + seconds;
        }

        if (totalSeconds > 0) {
            eventCountDownTimer = setInterval(function() {
                updateEventCountDownTimer(--totalSeconds);
            }, 1E3);
        }

        function displayLocalDates() {

            $(".local-date").each(function (index, item) {
                var $item = $(item);

                var dateAsISO8601 = $item.text();
                var localDate = moment(dateAsISO8601).format("dddd, HH:mm:ss");

                $item.text(localDate);
                $item.removeClass("local-date");
            });

            $(".local-date-tz").each(function (index, item) {
                var $item = $(item);

                var dateAsISO8601 = $item.text();
                var localDate = moment(dateAsISO8601).format("dddd, HH:mm:ss");

                var timezone = moment.tz.guess();
                localDate += " " + moment.tz(timezone).format("z");

                $item.text(localDate);
                $item.removeClass("local-date-tz");
            });
        }

        $(document).ready(function () {

            displayLocalDates();

            var eventsHeaderImage = $("#eventsHeaderImage");
            var currentEventOptionsContainer = $("#currentsEventOptions");

            function focusCurrentEventOptionsContainer(e) {
                $([document.documentElement, document.body]).animate({
                    scrollTop: eventsHeaderImage.offset().top
                },
                    500);
            }

            currentEventOptionsContainer.on('click',
                ".LinkButtonH1, .optionsExit, .optionsContainerDarkening",
                function (e) {
                    e.preventDefault();
                    currentEventOptionsContainer.hide();
                });

            $(".displayCurrentEvents").on('click',
                function (e) {
                    e.preventDefault();

                    var me = $(this);
                    var url = me.attr('href');

                    $.get(url,
                        function (r) {

                            if (!r) {
                                // no-content
                                return;
                            }

                            currentEventOptionsContainer.html(r);
                            currentEventOptionsContainer.show();
                            focusCurrentEventOptionsContainer();
                        });


                });

        });
    </script>
}
