@using System.Reflection
@using System.IO

<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>@ViewData["Title"] - 1st USSS Co.F</title>

    <link rel="shortcut icon" href="@Url.Content("~/img/favicon.ico")">
    <link href="~/css/wor.css" rel="stylesheet">
    <link href="~/css/site.css" rel="stylesheet">

    <script src="~/lib/jquery/jquery.min.js"></script>

    @await RenderSectionAsync("head", required: false)

</head>
<body>

    <div id="shadow">
        <div id="body">
            <div id="outerWrapper">

                @*
                    <div id="lightBoxOuterContainer">
                        <div id="lightBoxShadow" onclick="closeLightBox(this)"></div>
                        <div id="lightBoxContainer">
                            <div id="lightBox">
                                <img id="lightBoxImage">
                            </div>

                            <div id="lightBoxButtonsShadow">
                                <div id="lightBoxButtons">
                                    <h2 class="lightBoxButtons" onclick="previousImage()">
                                        Backward
                                    </h2>
                                    <h2 class="lightBoxButtons" onclick="nextImage()">
                                        Forward
                                    </h2>
                                </div>
                            </div>
                        </div>
                    </div>
                *@

                <div id="wrapper">
                    <div id="nailContainer">
                        <img src="~/img/Nail.png" id="nailLeft" alt="nail">
                        <img src="~/img/Nail.png" id="nailRight" alt="nail">
                    </div>
                    <header>
                        <a href="/">
                            <p class="worBorder">
                                1<small>st</small> USSS Co.F
                            </p>
                            <img src="~/img/Header.png" alt="War of Rights Header" class="worBorder">
                        </a>
                    </header>

                    <nav id="navigationContainer" class="worBorder">

                        <ul>
                            <li>
                                <a id="navHome" href="@Url.Action("Index", "Home")">Home</a>
                            </li>
                            @*<li>
                                <a id="navEvents" href="@Url.Action("Index", "Regiments")">Regiments</a>
                            </li>*@
                            <li>
                                <a id="navMaps" href="@Url.Action("Index", "Maps")">Maps</a>
                            </li>
                            <li>
                                <a id="navEvents" href="@Url.Action("Index", "Events")">Events</a>
                            </li>
                            <li>
                                <a id="navMedia" href="@Url.Action("Index", "Help")">Help</a>
                            </li>
                            <li>
                                <a id="navContact" href="@Url.Action("About", "Home")">Company</a>
                            </li>
                        </ul>

                    </nav>

                    @await RenderSectionAsync("navigation", required: false)

                    <div class="worBorder">
                        @RenderBody()
                        
                        <div id="pageLoadingContainer" style="display: none;">
                            <img id="pageLoadingImageIcon" src="@Url.Content("~/img/Loading_Icon.png")">
                            <img id="pageLoadingImageSoldiers" src="@Url.Content("~/img/Loading_Soldiers.png")">
                        </div>

                    </div>

                    <footer class="worBorder" id="footer">
                        <img src="@Url.Content("~/img/1ussscof_baner.png")" alt="1st US Sharpshooters Co.F Regimental Banner" class="imageMaxWidth" />
                    </footer>
                    
                    <div id="credit" class="fancyClearBoth text-center">
                        @{
                            var buildInfo = string.Empty;

                            var assembly = Assembly.GetEntryAssembly();
                            var version = assembly?.GetCustomAttribute<AssemblyInformationalVersionAttribute>();
                            if (version != null)
                            {
                                var displayVersion = version.InformationalVersion;
                                buildInfo = $"version {displayVersion}";

                                var assemblyFileName = Environment.GetCommandLineArgs().FirstOrDefault();
                                if (!string.IsNullOrEmpty(assemblyFileName))
                                {
                                    var buildDate = File.GetLastWriteTime(assemblyFileName);
                                    buildInfo += $", built {buildDate:ddd, MMMM dd, yyyy} at {buildDate:HH:mm}";
                                }
                            }
                        }

                        <small class="text-center">
                            assembled by Sgt. John Brown, @buildInfo<br>
                            all images and audio from <a href="https://warofrights.com/Contact" style="font-family: inherit; font-size: inherit; text-decoration: underline;" target="_blank">Campfire Games</a> are subjected to copyright law and are used without monetary purposes!
                        </small>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <script src="~/js/site.js"></script>
    @await RenderSectionAsync("scripts", required: false)

</body>
</html>
