<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>@ViewData["Title"] - 1st USSS Co.F</title>

    <link rel="shortcut icon" href="favicon.ico">
    <link href="~/css/wor.css" rel="stylesheet">
    <link href="~/css/site.css" rel="stylesheet">

    <script src="~/lib/jquery/jquery.min.js"></script>

    @await RenderSectionAsync("head", required: false)

</head>
<body>

    <div id="shadow">
        <div id="body">
            <div id="outerWrapper">

                @*
                    <div id="lightBoxOuterContainer">
                        <div id="lightBoxShadow" onclick="closeLightBox(this)"></div>
                        <div id="lightBoxContainer">
                            <div id="lightBox">
                                <img id="lightBoxImage">
                            </div>

                            <div id="lightBoxButtonsShadow">
                                <div id="lightBoxButtons">
                                    <h2 class="lightBoxButtons" onclick="previousImage()">
                                        Backward
                                    </h2>
                                    <h2 class="lightBoxButtons" onclick="nextImage()">
                                        Forward
                                    </h2>
                                </div>
                            </div>
                        </div>
                    </div>
                *@

                <div id="wrapper">
                    <div id="nailContainer">
                        <img src="~/img/Nail.png" id="nailLeft" alt="nail">
                        <img src="~/img/Nail.png" id="nailRight" alt="nail">
                    </div>
                    <header>
                        <a href="/">
                            <p class="worBorder">
                                1<small>st</small> USSS Co.F
                            </p>
                            <img src="~/img/Header.png" alt="War of Rights Header" class="worBorder">
                        </a>
                    </header>

                    <nav id="navigationContainer" class="worBorder">

                        <ul>
                            <li>
                                <a id="navHome" href="@Url.Action("Index", "Home")">Home</a>
                            </li>
                            <li>
                                <a id="navMaps" href="@Url.Action("Index", "Maps")">Maps</a>
                            </li>
                            <li>
                                <a id="navEvents" href="@Url.Action("Index", "Events")">Events</a>
                            </li>
                            <li>
                                <a id="navMedia" href="@Url.Action("Index", "Media")">Media</a>
                            </li>
                            <li>
                                <a id="navContact" href="@Url.Action("Index", "Company")">Company</a>
                            </li>
                        </ul>

                    </nav>

                    @await RenderSectionAsync("navigation", required: false)


                    <div class="worBorder CT_Background">
                        @RenderBody()
                    </div>

                    <footer class="worBorder" id="footer">
                        TODO
                    </footer>
                </div>
            </div>
        </div>
    </div>
    
    <script src="~/js/site.js"></script>
    @await RenderSectionAsync("scripts", required: false)

</body>
</html>
