@model WarOfRightsWeb.Data.Map

@{
    var mapID = Model.ID;
    var mapName = Model.Name;
    var dateTime = Model.DateTimeDescription;

    var spawnImage = Url.Content($"~/img/{Model.SpawnImagePath}");
    var imageSkirmish = Url.Content($"~/img/{Model.SkirmishImagePath}");
    var loadingImage = Url.Content($"~/img/{Model.LoadingImagePath}");

    ViewBag.Title = mapName;
}

@section navigation {
    @await Html.PartialAsync("_MapsNav")
}

<h2 class="contentTitle" id="tabTitle">Burnside Bridge</h2>

<div id="mapHistory" class="fancyClearBoth">

    <h2 class="text-right">History</h2>

    <p>About 500 Confederate soldiers held the area overlooking the Lower Bridge for three hours. Burnside's command finally cap tured the bridge and crossed Antietam Creek, which forced the Confederates back toward Sharpsburg.</p>
    <p>A Crucial Crossing, a General's Namesake, a Battlefield Icon</p>
    <p>Known at the time of the battle as the Rohrbach or Lower Bridge, this picturesque crossing over Antietam Creek was built in 1836 to connect Sharpsburg with Rohrersville, the next town to the south. It was actively used for traffic until 1966 when a bypass enabled the bridge to be restored to its 1862 appearance.</p>
    <p>For more than three hours on September 17, 1862, Confederate Gen. Robert Toombs and fewer than 500 Georgia soldiers manned this imposing position against three Federal assaults made by Gen. Ambrose Burnside's much larger Ninth Corps. Confederate General James Longstreet wrote of the action: "Gen. Toombs held the bridge and defended it most gallantly, driving back repeated attacks, and only yielded it after the force brought against him became overwhelming and threatened his flank and rear."</p>
    <p>About 1:00 p.m., with Union soldiers crossing downstream and another attack made on the bridge, Toombs and his men had to retreat. However, the strong delaying action provided much needed time to allow Gen. A.P. Hill's Confederate soldiers, marching from Harpers Ferry, to arrive on the field.</p>
    <p>
        <strong><em>"Repulsed Again and Again"</em></strong><br>
        Gen. David R. Jones, Longstreet's Command
    </p>
</div>

<h2 class="text-right">@dateTime</h2>
<a href="@spawnImage" target="_blank">
    <img src="@spawnImage" class="imageMaxWidth">
</a>

<p></p>

<a href="@loadingImage" target="_blank">
    <img src="@loadingImage" class="imageMaxWidth">
</a>

@await Html.PartialAsync("_MapTeams", Model)

@section scripts {
    <script>
        $(document).ready(function () {
            $("#navMaps").addClass('active');
            $("#navMapAntietam").addClass('active');
        })
    </script>
}
