@model WarOfRightsWeb.Data.Map

@{
    var mapID = Model.ID;
    var mapName = Model.Name;
    var dateTime = Model.DateTimeDescription;

    var spawnImage = Url.Content($"~/img/{Extensions.PathToUrl(Model.SpawnImagePath)}");
    var imageSkirmish = Url.Content($"~/img/{Extensions.PathToUrl(Model.SkirmishImagePath)}");
    var loadingImage = Url.Content($"~/img/{Extensions.PathToUrl(Model.LoadingImagePath)}");

    ViewBag.Title = mapName;
}

@section navigation {
    @await Html.PartialAsync("_MapsNav")
}

<h2 class="contentTitle" id="tabTitle">Miller's Cornfield</h2>

<div id="mapHistory" class="fancyClearBoth">

    <h2 class="text-right">History</h2>

</div>

<h2 class="text-right">@dateTime</h2>
<a href="@spawnImage" target="_blank">
    <img src="@spawnImage" class="imageMaxWidth">
</a>

<p></p>

<a href="@loadingImage" target="_blank">
    <img src="@loadingImage" class="imageMaxWidth">
</a>


@await Html.PartialAsync("_MapTeams", Model)

@section scripts {
    <script>
        $(document).ready(function () {
            $("#navMaps").addClass('active');
            $("#navMapAntietam").addClass('active');
        })
    </script>
}
