@{
    ViewBag.Title = Maps.PiperFarm;

    var map = Maps.PiperFarm;
    var dateTime = Maps.DateTimes[map];
    var image = Url.Content($"~/img/maps/{map}_spawn.png");
    var imageLoading = Url.Content($"~/img/maps/{map}_loading.png");

    var mapInfo = MapsInfo.Parameters[map];
}

@section navigation {
    @await Html.PartialAsync("_MapsNav")
}

<h2 class="contentTitle" id="tabTitle">Piper Farm</h2>

<div id="mapHistory" class="fancyClearBoth">

    <h2 class="text-right">History</h2>

</div>

<h2 class="text-right">@dateTime</h2>
<a href="@image" target="_blank">
    <img src="@image" class="imageMaxWidth">
</a>

<p></p>

<a href="@imageLoading" target="_blank">
    <img src="@imageLoading" class="imageMaxWidth">
</a>


@await Html.PartialAsync("_MapTeams", mapInfo)

@section scripts {
    <script>
        $(document).ready(function () {
            $("#navMaps").addClass('active');
            $("#navMapAntietam").addClass('active');
        })
    </script>
}
