@{
    ViewBag.Title = Maps.CoxsPush;
}

@section navigation {
    @await Html.PartialAsync("_MapsNav")
}

<h2 class="contentTitle" id="tabTitle">Cox's Push</h2>

<div id="mapHistory" class="fancyClearBoth">

    <h2 class="text-right">History</h2>

</div>

<h2 class="text-right">@Maps.DateTimes[Maps.CoxsPush]</h2>
<a href="@Url.Content($"~/img/maps/{Maps.CoxsPush}.png")" target="_blank">
    <img src="@Url.Content($"~/img/maps/{Maps.CoxsPush}.png")" class="imageMaxWidth">
</a>

<p></p>

<a href="@Url.Content($"~/img/maps/{Maps.CoxsPush}_loading.png")" target="_blank">
    <img src="@Url.Content($"~/img/maps/{Maps.CoxsPush}_loading.png")" class="imageMaxWidth">
</a>

<h2 class="text-right">Belligerents</h2>

@section scripts {
    <script>
        $(document).ready(function () {
            $("#navMaps").addClass('active');
            $("#navMapSouthMountain").addClass('active');
        })
    </script>
}
