@{
    ViewBag.Title = Maps.GarlandsStand;

    var map = Maps.GarlandsStand;
    var dateTime = Maps.DateTimes[map];
    var image = Url.Content($"~/img/maps/{map}_spawn.png");
    var imageLoading = Url.Content($"~/img/maps/{map}_loading.png");

    var mapInfo = MapsInfo.Parameters[map];
}

@section navigation {
    @await Html.PartialAsync("_MapsNav")
}

<h2 class="contentTitle" id="tabTitle">Garland's Stand</h2>

<div id="mapHistory" class="fancyClearBoth">

    <h2 class="text-right">History</h2>

</div>

<h2 class="text-right">@dateTime</h2>
<a href="@image" target="_blank">
    <img src="@image" class="imageMaxWidth">
</a>

<p></p>

<a href="@imageLoading" target="_blank">
    <img src="@imageLoading" class="imageMaxWidth">
</a>

@await Html.PartialAsync("_MapTeams", mapInfo)


<div id="galleryImagesContainer">
    <h1 class="text-center">
        Ingame images from the map
    </h1>

    <div id="galleryImages">
        <a href="#" class="active" data-src="https://warofrights.com/Pages_FieldReports/Update166/Images/Bondurant_Battery_1.jpg">
            <img class="galleryImageContainer worTightBorder" src="https://warofrights.com/Pages_FieldReports/Update166/Images/Bondurant_Battery_1.jpg" alt="Bondurant’s Battery (CSA), Garland’s Stand, South Mountain">
        </a>
        <a href="#" data-src="https://warofrights.com/Pages_FieldReports/Update166/Images/Bondurant_Battery_2.jpg">
            <img class="galleryImageContainer worTightBorder" src="https://warofrights.com/Pages_FieldReports/Update166/Images/Bondurant_Battery_2.jpg" alt="Bondurant’s Battery (CSA), Garland’s Stand, South Mountain">
        </a>
    </div>
    <div class="fancyClearBoth">
    </div>
</div>

@await Html.PartialAsync("_Gallery")

@section scripts {
    <script>
        $(document).ready(function () {
            $("#navMaps").addClass('active');
            $("#navMapSouthMountain").addClass('active');
        })
    </script>
}
