<div id="helpGameConcepts">
    <h1 class="text-center">
        Game Concepts
    </h1>

    <br>

    <h2 id="helpGameModes">
        Game Modes
    </h2>
    <p>
        As of yet War of Rights offers four game modes: Skirmish, Conquest, Picket Patrol and Drill Camp.
        These can be seen in-game in the server browser in the mode column for the server.
        A server can support up to 300 players, depending on the server slots size.
        Each mode has their own rules and peculiarities, this section tells you what's special about each of these modes.
    </p>

    <h3>
        Skirmish
    </h3>
    <p>
        The Skirmish game mode you'll encounter most often. Games last 45 minutes OR until one team losses all of their morale.
        Most of the matches are with auto-balanced teams (somewhere around 150 vs 150 players), although this feature can be temporarily disabled on privately owned servers,
        but not on official ones (e.g. on WAR OF RIGHTS OFFICIAL X - Europe). Currently there are
        <a href="@Url.Action("Index", "Maps", new { id = string.Empty, mode = Labels.Skirmish })">34 maps</a> with skirmish areas across
        Harpers Ferry, Antietam, and South Mountain, and <a href="@Url.Action("Index", "Maps", new { id = string.Empty, mode = Labels.Conquest })">18 conquest maps</a>,
        not bound by any historical context, almost all of which have artillery on either one or both sides.
    </p>

    <h3>
        Conquest
    </h3>

    <p>
        <img src="@Url.Content("img/CaptureTheFlag.gif")" alt="Capture the Flag" class="imageRightAlign" style="width: 400px;" />
        The mode essentially revolves around two teams fighting for the control of multiple capture points. Each point captured results in a slow ticket (morale) drain of the enemy team.
        The first team to run out of tickets/morale caused by taking casualties and the drain due to enemy controlled capture points, will lose the round.
    </p>
    <ul>
        <li>Formation state buffs are identical to the ones found in the Skirmishes game mode, i.e. suppression resistances and stamina recovery - or a lack thereof should you be out of line.</li>
        <li>The morale cost of dying is also still tied to the formation state of the players and the overall team morale levels (Battle Ready, Engaged, Taking Losses and Breaking) are still valid.</li>
        <li>Artillery batteries are also featured in each Conquest area.</li>
        <li>Flag bearer spawning works in an identical way to Skirmishes.</li>
    </ul>
    <p>Features unique to this mode:</p>
    <ul>
        <li>There are 3 capture points per Conquest area, marked by flagpoles as well as User Interface icons (which you can view by pressing the 'T' key).</li>
        <li>The flag bearer will have to approach the flagpole and attempt to raise their flag to the top of the pole, if they successfully raise it to the top the point will be captured.</li>
        <li>The captured point then becomes a staging area, where soldiers can spawn on.</li>
        <li>Enemy controlled capture points can be neutralized by approaching the flagpole and lowering the enemy flag.</li>
    </ul>
    <p>The winning/losing conditions for Conquest are as following:</p>
    <ul>
        <li>
            If a team reaches 0 morale before the round timer runs out, either via the enemy team controlling more capture points than them or killing their players, the team enters Last Stand (i.e. no additional respawns).
            Once close to all of the players in Last Stand have been killed the team will lose the round.
        </li>
        <li>
            A team can also force the enemy team into a Counter-Attack. This happens when one team controls all 3 capture points.
            When Counter-Attack is triggered, the team with no points in their control will have a few minutes to retake a point.
            If this is not done in time, the team will lose the round. A Counter-Attack can be triggered while in Last Stand.
        </li>
        <li>
            Should the round timer reach 0 before any team has depleted all of its morale, the winner of the round will be
            based on the overall morale level: A “Engaged” team versus a “Taking Losses” one will for example win.
            Should both teams be at an identical morale level (say “Breaking” versus “Breaking”) the round will end as a draw.
        </li>
    </ul>

    <h3>
        Picket Patrol
        <img src="@Url.Content("~/img/Winslow_Homer_-_The_Army_of_the_Potomac--A_Sharp-Shooter_on_Picket_Duty_-_Google_Art_Project.jpg")" alt="Sharpshooter on Picket Patrol" class="imageMaxWidth" />
    </h3>
    <p>
        The main objective of Picket Patrol is simply to kill the enemy force you encounter. The round ends when all enemies are killed or the timer runs out.
        Whoever has the most kills when the timer ends, wins. The teams kill count is hidden until the end of the round where a winner is declared. @* TODO: Revisit this *@
        <u>Players only have 1 life per round</u>. Formation requirements <i>were</i> stricter than in the Skirmishes game mode: players were required to stick in groups of at least 3
        and cannot be “out of line” for more than 30 seconds. As of the time of writing these requirements are not enforced anymore. So that means your whole team can go full Rambo on the enemy.
        <a href="@Url.Action("PicketPatrol", "Maps")">Each patrol area</a> has roughly 7 team spawn points placed in various positions in the area. Team spawn points are selected at random at the beginning of the round.
    </p>

    <h3>
        Drill Camp
        <img src="@Url.Content("img/DrillCampRegiments.png")" alt="Capture the Flag" class="imageRightAlign" />
    </h3>
    <p>

        The training ground of the army, here only one side is present and you can choose from all the regiments on your side (CSA or USA) with the help of the pages in the spawn screen.
        The timer displays the current time of day. You can choose not to die in Drill Camp, although you can be hurt and all the bad implications that follow from being shot or stabbed do still occur.
        As an administrator you can disable friendly fire, which would make the players mortal in the server again.
        At the marksman range you can get instant feedback on where your shot hit the target.
        You can do the same for artillery at the artillery marksman camp.
    </p>


    <h2 id="helpBattleStages">
        Battle Stages
        <img src="@Url.Content("~/img/Burnside_Bridge.jpg")" alt="Burnside Bridge" class="imageMaxWidth" />
    </h2>

    <p>
        All battles in the Skirmish mode go through these stages.
        Changes in the battle stage are indicated with a distinctive rallying cry from the enemy (the Huzaah's and YeYe's).
        If you lost a lot of tickets, you're in for a morale drop, <a href="#helpMoraleSystem">read more about the Morale System here</a>.
        Depending on if you are an attacker or a defender there are two different endings: The Final Push and The Last Stand.
    </p>

    <ul>
        <li>
            <h3>
                Battle Ready
            </h3>
            <p>
                All teams begin their battles at this morale stage. <br>
                Your team suffered minimal losses, men feel fearless!
            </p>
        </li>
        <li>
            <h3>
                Engaged
            </h3>
            <p>
                Your team suffered few losses, morale is still high!
            </p>
        </li>
        <li>
            <h3>
                Taking Losses
            </h3>
            <p>
                Casualties are rising, men are concerned!
            </p>
        </li>
        <li>
            <h3>
                Breaking
            </h3>
            <p>
                Your team suffers heavy casualties, the men are in disarray!
            </p>
        </li>
    </ul>

    <br>

    <h3>
        Final Push

    </h3>
    <p>
        <img src="@Url.Content("~/img/icons/FinalPush.png")" alt="Final Push" class="imageRightAlign" />
        During this final stage the attackers have a limited amount of time (usually around 3 minutes) to capture the point of contention.
        Unlike the Last Stand by the defenders, attackers can still spawn reinforcements and their death does not cost morale loss (0 tickets).
    </p>

    <br>

    <h3>
        Last Stand

    </h3>
    <p>
        <img src="@Url.Content("~/img/icons/LastStand.png")" alt="Last Stand" class="imageRightAlign" />
        All defenders that are currently alive or had their deployment accepted are spawned in, but no further reinforcements are allowed.
        Other players and players who die in this stage are allowed only to spectate their remaining teammates for the rest of the round.
    </p>

    <br>

    <h3>
        Overtime
    </h3>
    <p>
        Overtime is triggered by the attackers when the battle timer reaches 0 and they (the attackers) have the majority men on point.
        Once the defenders have the majority men on the point of contention - they win the game.
    </p>

    <br>

    <h3>
        Counterattacks

    </h3>
    <p>
        <img src="@Url.Content("~/img/icons/CounterAttack.png")" alt="Counter Attack" class="imageRightAlign" />
        Counterattacks raise the defenders morale if they are able to retake point of contention.
        If the defending team retakes the point, their morale is equalized to that of the attacking team.
        The counterattack time is dependent on the defenders battle stage: at Battle Ready they have 21min, at Engaged 14min and at Taking Losses 7min to respond, before they loose the game.
        If the attacking team captures the point when the defenders are at Breaking they automatically win the game.
    </p>

    <br>

    <h2 id="helpMoraleSystem">
        The Morale System
    </h2>

    <p>
        Every killed soldier has impact on the teams morale. Once the army morale is at breaking,
        there are just a few reinforcements left and your team is about to loose.
        To reduce morale losses, it's important to fight in <u>formations</u>.
    </p>

    <h3>
        Formations
    </h3>
    <p>

        Each formation type has its own implication on your teams morale.
        How the games applies these types is based of how many players are within a set distance from each other.
    </p>

    <div class="fancyRight">
        <ul>
            <li>
                <h3>
                    Out of Line
                </h3>
                <p>
                    You are on your own! Rejoin your comrades immediately! Your death will have severe consequences on the teams morale.
                </p>
            </li>
            <li>
                <h3>
                    Skirmishing
                </h3>
                <p>
                    When 3 players are within an immediate distance to each other, the game will put them in the Skirmishing formation.
                </p>
            </li>
            <li>
                <h3>
                    In Formation
                </h3>
                <p>
                    When another 3 players join the circle of their comrades they are considered In Formation.
                </p>
            </li>
        </ul>
    </div>

    <div class="fancyLeft">
        <img src="@Url.Content("~/img/sharps-in-the-woods-gigapixel-scale-4_00x.jpg")" alt="Counter Attack" class="imageMaxWidth" />
    </div>

    <h3 class="fancyClearBoth">
        Tickets
    </h3>
    <p>
        When a player dies during the match, the game calculates how many tickets the team looses <u>based on the players formation</u> when killed:
    </p>
    <ul>
        <li>
            <p>
                Out of Line: 5 tickets
            </p>
        </li>
        <li>
            <p>
                Skirmishing: 3 tickets
            </p>
        </li>
        <li>
            <p>
                In Formation: 1 ticket
            </p>
        </li>
    </ul>
    <p>

        Tickets scale depending also on the server size and the players currently in it:
    </p>

    <ul>
        <li>
            <p>
                up to 25 players: x4
            </p>
        </li>

        <li>
            <p>
                up to 50 players: x2
            </p>
        </li>

        <li>
            <p>
                up to 100 players: x1
            </p>
        </li>

        <li>
            <p>
                up to 150 players: x0.75
            </p>
        </li>

        <li>
            <p>
                up to 200 players: x0.5
            </p>
        </li>
        
        <li>
            <p>
                up to 300 players: x0.25
            </p>
        </li>

    </ul>

    <br>

    <h3>
        Flag Bearers and Officers
    </h3>
    <p>
        Color bearers and commanders have a special interaction with the formation types. Their special role requires them to stay with the immediate distance of their teammates (indicated by their current formation).
        If an officer goes Out of Line <u>for more than 20 seconds</u>, he will be considered a deserter and will die. If a Flag Bearer fails to return to his comrades <u>within 60 seconds</u> he will die immediately.
        When in Skirmishing the Flag Bearer spawns troops only half (20 seconds spawn) as fast as a In Formation flag (10 second spawn). When the Flag Bearer is Out of Line or killed the spawn on flag option will be unavailable.
    </p>

    <br>
</div>