@model WarOfRightsWeb.Data.Weapon

@{
    var weapon = Model;
    var weaponID = weapon.ID;
    var name = weapon.Name; //Weapons.DisplayNames[weaponID];
    var parameters = weapon.ParametersDescription; //Weapons.Parameters[weaponID];
    var description = weapon.Description; //Weapons.Descriptions[weaponID];
    var image = Url.WeaponImageIfExists(weaponID);
}

<li>
    <h3 id="@weaponID">
        @name
    </h3>
    <p>
        @if (image != null)
        {
            <a href="@image">
                <img src="@image" alt="@name" class="imageRightAlign" />
            </a>
        }

        @Html.Raw(parameters)
        <br />
        @Html.Raw(description)

    </p>
</li>