@model string

@{
    var id = Model;
    var name = Weapons.DisplayNames[id];
    var parameters = Weapons.Parameters[id];
    var description = Weapons.Descriptions[id];
    var image = Url.WeaponImageIfExists(id);
}

<li>
    <h3 id="@id">
        @name
    </h3>
    <p>
        @if (image != null)
        {
            <a href="@image">
                <img src="@image" alt="@name" class="imageRightAlign" />
            </a>
        }

        @Html.Raw(parameters)
        <br />
        @Html.Raw(description)

    </p>
</li>