@model string

@{
        var map = Model;
        var mapName = Maps.DisplayNames[map];
        var mapArea = Extensions.AreaFromMap(map);        
        var mapImage = Url.Content($"~/img/maps/{map}_skirmish.png");
        var mapLink = Url.Action(mapArea, "Maps", new { id = map });
        var mapDescription = Maps.Descriptions[map];
}

<div class="briefFieldReportContainer">
    @*<a href="@mapImage" target="_blank">
            <img src="@mapImage" class="worTightBorder">
        </a>*@
    
    <a href="@mapImage" target="_blank" class="imageContainer">
        <div class="worTightBorder " style="background: url('@mapImage'); background-repeat: no-repeat; background-size: 250px; background-position-x: -4px; background-position-y: -4px;"></div>
    </a>

    <div class="briefDescription">

        <a href="@mapLink">
            <h2 class="briefFieldReportName">@mapName</h2>
        </a>
        <p class="fancyClearBoth">@Html.Raw(mapDescription)</p>
    </div>
</div>