@model string

@{
        var mapName = Model;
        var mapId = Maps.Normalize(mapName);
        var mapArea = Maps.AreaFromMapName(mapName);
        var mapThumbImage = Url.Content($"~/img/maps/thumbs/{mapId}.png");
        var mapImage = Url.Content($"~/img/maps/{mapId}.png");
        var mapLink = Url.Action(mapArea, "Maps", new { id = mapId });
        var mapDescription = Maps.Descriptions[mapId];
}

<div class="briefFieldReportContainer">
    <a href="@mapImage" target="_blank">
        <img src="@mapThumbImage" class="worTightBorder">
    </a>
    <div class="briefDescription">
        <a href="@mapLink">
            <h2 class="briefFieldReportName">@mapName</h2>
        </a>
        <p class="fancyClearBoth">@Html.Raw(mapDescription)</p>
    </div>
</div>