@model MapsInfo.SkirmishInfo

<h2 class="text-right">Belligerents</h2>

<div id="mapBelligerentsUSA" class="fancyLeft">

    <h1 class="text-center">@Labels.USA @(Model.DefendingTeam == Labels.USA ? "(Defending)" : "(Attacking)")</h1>
    
    @foreach (var regiment in Model.RegimentsUSA)
    {
        @await Html.PartialAsync("_RegimentBrief", regiment)
    }

</div>

<div id="mapBelligerentsCSA" class="fancyRight">

    <h1 class="text-center">@Labels.CSA @(Model.DefendingTeam == Labels.CSA ? "(Defending)" : "(Attacking)")</h1>

    @foreach (var regiment in Model.RegimentsCSA)
    {
        @await Html.PartialAsync("_RegimentBrief", regiment)
    }

</div>

<div class="fancyClearBoth"></div>

<h2 class="text-right">Map Parameters</h2>

<div id="mapParameters">
    <p class="text-right">- Round Time: @(Extensions.SecondsToMinutes(Model.RoundTime)) min</p>
    <p class="text-right">- Wave Time: @Model.WaveTime s</p>
    <p class="text-right">- Capture Speed: @Model.CaptureSpeed</p>
    <p class="text-right">- Neutralize Speed: @Model.NeutralizeSpeed</p>
    <p class="text-right">- Tickets USA: @Model.TicketsUSA</p>
    <p class="text-right">- Tickets CSA: @Model.TicketsCSA</p>
    <p class="text-right">- Final Push Time: @(Extensions.SecondsToMinutes(Model.FinalPushTime)) min</p>
</div>

<div class="fancyClearBoth"></div>