@model MapsInfo.SkirmishInfo

<div id="mapBelligerents" class="fancyClearBoth">

    <ul>
        <li>
            <h3>
                USA @(Model.DefendingTeam == Labels.USA ? "(Defending)" : "(Attacking)")
            </h3>
            <ul>
                @foreach (var regiment in Model.RegimentsUSA)
                {
                    var displayName = Regiments.DisplayNames[regiment];
                    var usaWeaponPool = RegimentsInfo.WeaponsPool[regiment];
                    
                    <li>
                        <h2 class="regiment">@displayName</h2>
                        <ul>
                            @for (int i = 0; i < usaWeaponPool.Count; i++)
                            {
                                var weapon = usaWeaponPool.ElementAt(i);

                                <li>
                                    <p>
                                        @(weapon.Value == 100 ? "" : $"{weapon.Value}%") @Weapons.DisplayNames[weapon.Key]
                                    </p>
                                </li>
                            }
                        </ul>
                    </li>
                }
            </ul>
        </li>
        <li>
            <h3>
                CSA @(Model.DefendingTeam == Labels.CSA ? "(Defending)" : "(Attacking)")
            </h3>
            <ul>
                @foreach (var regiment in Model.RegimentsCSA)
                {
                    var displayName = Regiments.DisplayNames[regiment];
                    var csaWeaponPool = RegimentsInfo.WeaponsPool[regiment];
                    var isArtillery = Extensions.RegimentType(regiment) == Labels.Artillery;

                    <li>
                        <h2 class="regiment">@displayName</h2>
                        <ul>
                            @for (int i = 0; i < csaWeaponPool.Count; i++)
                            {
                                var weapon = csaWeaponPool.ElementAt(i);

                                <li>
                                    <p>
                                        @(weapon.Value == 100 ? "" : $"{weapon.Value}%") @Weapons.DisplayNames[weapon.Key]
                                    </p>
                                </li>
                            }
                        </ul>
                    </li>
                }
            </ul>
        </li>
    </ul>

</div>
