<nav id="companyToolHeaderContainer" class="worBorder" style="padding: 0px;">

    <ul style="margin: 0px; padding: 0px; height: 60px;">
        <li style="margin: 0px;">
            <div id="companyToolHeaderTextContainer">

                <ul class="companyToolNavUl" style="width: 20%;">
                    <li>
                        <h1 class="text-center">
                            <a id="navMapAntietam" href="@Url.Action("Antietam", "Maps")">Antietam</a>
                        </h1>
                    </li>
                </ul>

                <ul class="companyToolNavUl" style="width: 25%;">
                    <li>
                        <h1 class="text-center">
                            <a id="navMapHarpersFerry" href="@Url.Action("HarpersFerry", "Maps")">Harpers Ferry</a>
                        </h1>
                    </li>
                </ul>

                <ul class="companyToolNavUl" style="width: 25%;">
                    <li>
                        <h1 class="text-center">
                            <a id="navMapSouthMountain" href="@Url.Action("SouthMountain", "Maps")">South Mountain</a>
                        </h1>
                    </li>
                </ul>


                <ul class="companyToolNavUl" style="width: 30%;">
                    <li>
                        <h1 class="text-center">
                            <a id="navMapBolivarHeightsCamp" href="@Url.Action("BolivarHeightsCamp", "Maps")">Bolivar Heights Camp</a>
                        </h1>
                    </li>
                </ul>

            </div>
        </li>
    </ul>

    <ul style="margin: 0px; padding: 0px; height: 60px;">
        <li style="margin: 0px;">
            <div>

                <ul class="companyToolNavUl" style="width: 50%;">
                    <li>
                        <h1 class="text-center">
                            <a id="navMapDrillCamps" href="@Url.Action("DrillCamps", "Maps")">Drill Camps</a>
                        </h1>
                    </li>
                </ul>

                <ul class="companyToolNavUl" style="width: 50%;">
                    <li>
                        <h1 class="text-center">
                            <a id="navMapPicketPatrol" href="@Url.Action("PicketPatrol", "Maps")">Picket Patrol</a>
                        </h1>
                    </li>
                </ul>

            </div>
        </li>
    </ul>

    <div class="fancyClearBoth">
    </div>
</nav>
