<nav id="companyToolHeaderContainer" class="worBorder" style="padding: 0px;">

    <ul style="margin: 0px; padding: 0px; height: 60px;">
        <li style="margin: 0px;">
            <div id="companyToolHeaderTextContainer">

                <ul class="companyToolNavUl" style="width: 18%;">
                    <li>
                        <h1 class="text-center">
                            <a id="navMapAntietam" href="@Url.Action("Antietam", "Maps", new { id = string.Empty })">Antietam</a>
                        </h1>
                    </li>
                </ul>

                <ul class="companyToolNavUl" style="width: 25%;">
                    <li>
                        <h1 class="text-center">
                            <a id="navMapHarpersFerry" href="@Url.Action("HarpersFerry", "Maps", new { id = string.Empty })">Harpers Ferry</a>
                        </h1>
                    </li>
                </ul>

                <ul class="companyToolNavUl" style="width: 25%;">
                    <li>
                        <h1 class="text-center">
                            <a id="navMapSouthMountain" href="@Url.Action("SouthMountain", "Maps", new { id = string.Empty })">South Mountain</a>
                        </h1>
                    </li>
                </ul>


                <ul class="companyToolNavUl" style="width: 32%;">
                    <li>
                        <h1 class="text-center">
                            <a id="navMapBolivarHeightsCamp" href="@Url.Action("BolivarHeightsCamp", "Maps", new { id = string.Empty })">Bolivar Heights Camp</a>
                        </h1>
                    </li>
                </ul>

            </div>
        </li>
    </ul>

    <ul style="margin: 0px; padding: 0px; height: 60px;">
        <li style="margin: 0px;">
            <div>

                <ul class="companyToolNavUl" style="width: 50%;">
                    <li>
                        <h1 class="text-center">
                            <a id="navMapDrillCamps" href="@Url.Action("DrillCamps", "Maps", new { id = string.Empty })">Drill Camps</a>
                        </h1>
                    </li>
                </ul>

                <ul class="companyToolNavUl" style="width: 50%;">
                    <li>
                        <h1 class="text-center">
                            <a id="navMapPicketPatrol" href="@Url.Action("PicketPatrol", "Maps", new { id = string.Empty })">Picket Patrol</a>
                        </h1>
                    </li>
                </ul>

            </div>
        </li>
    </ul>

    <div class="fancyClearBoth">
    </div>
</nav>
