@model string

@{
        var map = Model;
        var mapName = Maps.DisplayNames[map];
        var mapArea = Extensions.AreaFromMap(map);
        var mapThumbImage = Url.Content($"~/img/maps/thumbs/{map}.png");
        var mapImage = Url.Content($"~/img/maps/{map}.png");
        var mapLink = Url.Action(mapArea, "Maps", new { id = map });
        var mapDescription = Maps.Descriptions[map];
}

<div class="briefFieldReportContainer">
    <a href="@mapImage" target="_blank">
        <img src="@mapThumbImage" class="worTightBorder">
    </a>
    <div class="briefDescription">
        <a href="@mapLink">
            <h2 class="briefFieldReportName">@mapName</h2>
        </a>
        <p class="fancyClearBoth">@Html.Raw(mapDescription)</p>
    </div>
</div>