@model WarOfRightsWeb.Data.MapRegiment

@{
    var regiment = Model.Regiment;
    var regimentID = regiment.ID;
    var displayName = regiment.Name; //Regiments.DisplayNames[regiment];
    var weaponPool = Model.MapRegimentWeapons; //RegimentsInfo.WeaponsPool[regiment];
    var faction = regiment.Faction; //Extensions.RegimentFaction(regiment).ToLowerInvariant();
    var type = regiment.Type; //Extensions.RegimentType(regiment).ToLowerInvariant();
    var isArtillery = type == RegimentType.Artillery;
    var imageName = $"{faction}_{type}_{regimentID}_" + (isArtillery ?
        Labels.NCO : Labels.FlagBearer);
    var regimentImage = Url.RegimentImageIfExists(imageName);
    if (regimentImage == null)
    {
        imageName = $"{faction}_{type}_default_" + (isArtillery ?
            Labels.NCO : Labels.FlagBearer);
        regimentImage = Url.RegimentImageIfExists(imageName);
    }
}

<div class="latestNewsItem">
    @if (regimentImage != null)
    {
        <a href="@regimentImage" target="_blank" class="imageContainer">
            <div style="background: url('@regimentImage'); background-size: contain; background-position-y: -2px; width: 150px; height: 150px" class="worTightBorder"></div>
        </a>
    }

    <div class="newsTextCenterDiv">
                
        <a href="@Url.Action("Index", "Regiments", new { id = regimentID })">
            <h3>
                @displayName
            </h3>
        </a>

        <ul>
            @for (int i = 0; i < weaponPool.Count; i++)
            {
                var element = weaponPool.ElementAt(i);

                <li>
                    <p>
                        @if (isArtillery)
                        {
                            @($"{element.Count}x")
                        }
                        else
                        {
                            @(element.Percent == 100 ? "" : $"{element.Percent}%")
                        }
                        @element.Weapon.Name
                    </p>
                </li>
            }
        </ul>
    </div>
</div>