@model string

@{
    var regiment = Model;
    var displayName = Regiments.DisplayNames[regiment];
    var weaponPool = RegimentsInfo.WeaponsPool[regiment];
    var faction = Extensions.RegimentFaction(regiment).ToLowerInvariant();
    var type = Extensions.RegimentType(regiment).ToLowerInvariant();
    var isArtillery = type == Labels.Artillery.ToLowerInvariant();
    var imageName = $"{faction}_{type}_{regiment}_" + (isArtillery ? 
        Labels.NCO : Labels.FlagBearer);
    var image = Url.RegimentImageIfExists(imageName);
    if (image == null)
    {
        imageName = $"{faction}_{type}_default_" + (isArtillery ? 
            Labels.NCO : Labels.FlagBearer);
        image = Url.RegimentImageIfExists(imageName);
    }
}

<div class="latestNewsItem">
    @if (image != null)
    {
        <a href="@image" target="_blank" class="imageContainer">
            <div style="background: url('@image'); background-size: contain; background-position-y: -2px; width: 150px; height: 150px" class="worTightBorder"></div>
        </a>
    }

    <div class="newsTextCenterDiv">
                
        <a href="@Url.Action("Index", "Regiments", new {id = regiment})">
            <h3>
                @displayName
            </h3>
        </a>

        <ul>
            @for (int i = 0; i < weaponPool.Count; i++)
            {
                var weapon = weaponPool.ElementAt(i);

                <li>
                    <p>
                        @if (isArtillery)
                        {
                            @($"{weapon.Value}x")
                        }
                        else
                        {
                            @(weapon.Value == 100 ? "" : $"{weapon.Value}%")
                        }
                        @Weapons.DisplayNames[weapon.Key]
                    </p>
                </li>
            }
        </ul>
    </div>
</div>