@{
    ViewBag.Title = Maps.PicketPatrol;

    var map = Maps.PicketPatrol;
    var dateTime = Maps.DateTimes[map];
    var image = Url.Content($"~/img/maps/{map}.png");
    var imageLoading = Url.Content($"~/img/maps/{map}_loading.png");
}

@section navigation {
    @await Html.PartialAsync("_MapsNav")
}

<h2 class="contentTitle" id="tabTitle">Picket Patrol</h2>

<h2 class="text-right">@dateTime</h2>
<a href="@image" target="_blank">
    <img src="@image" class="imageMaxWidth">
</a>

<p></p>

<a href="@imageLoading" target="_blank">
    <img src="@imageLoading" class="imageMaxWidth">
</a>

<div id="galleryImagesContainer">
    <h1 class="text-center">
        Ingame images from the map
    </h1>
    <div id="galleryImages">
        <a href="#" class="active" data-src="https://warofrights.com/Content/Images/Gallery/wor_1.jpg">
            <img class="galleryImageContainer worTightBorder" src="https://warofrights.com/Content/Images/Gallery/wor_1_min.jpg">
        </a>
        <a href="#" data-src="https://warofrights.com/Content/Images/Gallery/wor_2.jpg">
            <img class="galleryImageContainer worTightBorder" src="https://warofrights.com/Content/Images/Gallery/wor_2_min.jpg">
        </a>
        <a href="#" data-src="https://warofrights.com/Content/Images/Gallery/wor_3.jpg">
            <img class="galleryImageContainer worTightBorder" src="https://warofrights.com/Content/Images/Gallery/wor_3_min.jpg">
        </a>
    </div>
    <div class="fancyClearBoth">
    </div>
</div>

@await Html.PartialAsync("_Gallery")

@section scripts {
    <script>
        $(document).ready(function() {
            $("#navMaps").addClass('active');
            $("#navMapPicketPatrol").addClass('active');
        });
    </script>
}
