@model WarOfRightsWeb.Data.Map

@{
    var mapID = Model.ID;
    var mapName = Model.Name;   
    var dateTime = Model.DateTimeDescription;

    var spawnImage = Url.Content($"~/img/{Extensions.PathToUrl(Model.SpawnImagePath)}");
    var loadingImage = Url.Content($"~/img/{Extensions.PathToUrl(Model.LoadingImagePath)}");

    ViewBag.Title = mapName;
}

@section navigation {
    @await Html.PartialAsync("_MapsNav")
}

<h2 class="contentTitle" id="tabTitle">Picket Patrol</h2>

<h2 class="text-right">@dateTime</h2>
<a href="@spawnImage">
    <img src="@spawnImage" class="imageMaxWidth" alt="Picket Patrol Spwan Image">
</a>

<div class="fancyClearBoth"><p></p></div>

<a href="@Url.Content("~/img/maps/DrillCampCSA_skirmish.png")">
    <div class="picketPatrolCamp imageHalfWidth" style="background-image: url('@Url.Content("~/img/maps/DrillCampCSA_skirmish.png")')" ></div>
</a>
<a href="@Url.Content("~/img/maps/DrillCampUSA_skirmish.png")">
    <div class="picketPatrolCamp imageHalfWidth" style="background-image: url('@Url.Content("~/img/maps/DrillCampUSA_skirmish.png")')"></div>
</a>

<div class="fancyClearBoth"><p></p></div>

<a href="@loadingImage">
    <img src="@loadingImage" class="imageMaxWidth" alt="Picket Patrol Loading Image">
</a>

<div id="galleryImagesContainer">
    <h1 class="text-center">
        Picket Patrol Areas
    </h1>
    <div id="galleryImages">
        
        <a href="@Url.Content("~/img/maps/pp/PicketPatrol1_skirmish.png")">
            <div class="galleryImageContainer worTightBorder picketPatrolArea" style="background-image: url('@Url.Content("~/img/maps/pp/PicketPatrol1_skirmish.png")');"></div>
        </a>

        <a href="@Url.Content("~/img/maps/pp/PicketPatrol2_skirmish.png")">
            <div class="galleryImageContainer worTightBorder picketPatrolArea" style="background-image: url('@Url.Content("~/img/maps/pp/PicketPatrol2_skirmish.png")');"></div>
        </a>

        <a href="@Url.Content("~/img/maps/pp/PicketPatrol3_skirmish.png")">
            <div class="galleryImageContainer worTightBorder picketPatrolArea" style="background-image: url('@Url.Content("~/img/maps/pp/PicketPatrol3_skirmish.png")');"></div>
        </a>

        <a href="@Url.Content("~/img/maps/pp/PicketPatrol4_skirmish.png")">
            <div class="galleryImageContainer worTightBorder picketPatrolArea" style="background-image: url('@Url.Content("~/img/maps/pp/PicketPatrol4_skirmish.png")');"></div>
        </a>

        <a href="@Url.Content("~/img/maps/pp/PicketPatrol5_skirmish.png")">
            <div class="galleryImageContainer worTightBorder picketPatrolArea" style="background-image: url('@Url.Content("~/img/maps/pp/PicketPatrol5_skirmish.png")');"></div>
        </a>

        <a href="@Url.Content("~/img/maps/pp/PicketPatrol6_skirmish.png")">
            <div class="galleryImageContainer worTightBorder picketPatrolArea" style="background-image: url('@Url.Content("~/img/maps/pp/PicketPatrol6_skirmish.png")');"></div>
        </a>

        <a href="@Url.Content("~/img/maps/pp/PicketPatrol7_skirmish.png")">
            <div class="galleryImageContainer worTightBorder picketPatrolArea" style="background-image: url('@Url.Content("~/img/maps/pp/PicketPatrol7_skirmish.png")');"></div>
        </a>

        <a href="@Url.Content("~/img/maps/pp/PicketPatrol8_skirmish.png")">
            <div class="galleryImageContainer worTightBorder picketPatrolArea" style="background-image: url('@Url.Content("~/img/maps/pp/PicketPatrol8_skirmish.png")');"></div>
        </a>

        <a href="@Url.Content("~/img/maps/pp/PicketPatrol9_skirmish.png")">
            <div class="galleryImageContainer worTightBorder picketPatrolArea" style="background-image: url('@Url.Content("~/img/maps/pp/PicketPatrol9_skirmish.png")');"></div>
        </a>

        <a href="@Url.Content("~/img/maps/pp/PicketPatrol10_skirmish.png")">
            <div class="galleryImageContainer worTightBorder picketPatrolArea" style="background-image: url('@Url.Content("~/img/maps/pp/PicketPatrol10_skirmish.png")');"></div>
        </a>

        <a href="@Url.Content("~/img/maps/pp/PicketPatrol11_skirmish.png")">
            <div class="galleryImageContainer worTightBorder picketPatrolArea" style="background-image: url('@Url.Content("~/img/maps/pp/PicketPatrol11_skirmish.png")');"></div>
        </a>
    </div>

</div>

<div class="fancyClearBoth"></div>

@*@await Html.PartialAsync("_Gallery")*@

@section scripts {
    <script>
        $(document).ready(function () {
            $("#navMaps").addClass('active');
            $("#navMapPicketPatrol").addClass('active');
        });
    </script>
}
