@{
    ViewBag.Title = Maps.Downtown;

    var map = Maps.Downtown;
    var dateTime = Maps.DateTimes[map];
    var image = Url.Content($"~/img/maps/{map}.png");
    var imageLoading = Url.Content($"~/img/maps/{map}_loading.png");
}

@section navigation {
    @await Html.PartialAsync("_MapsNav")
}

<h2 class="contentTitle" id="tabTitle">Downtown</h2>

<div id="mapHistory" class="fancyClearBoth">

    <h2 class="text-right">History</h2>

</div>

<h2 class="text-right">@Maps.DateTimes[Maps.Downtown]</h2>
<a href="@Url.Content($"~/img/maps/{Maps.Downtown}.png")" target="_blank">
    <img src="@Url.Content($"~/img/maps/{Maps.Downtown}.png")" class="imageMaxWidth">
</a>

<p></p>

<a href="@Url.Content($"~/img/maps/{Maps.Downtown}_loading.png")" target="_blank">
    <img src="@Url.Content($"~/img/maps/{Maps.Downtown}_loading.png")" class="imageMaxWidth">
</a>

<h2 class="text-right">Belligerents</h2>

@section scripts {
    <script>
        $(document).ready(function () {
            $("#navMaps").addClass('active');
            $("#navMapHarpersFerry").addClass('active');
        })
    </script>
}
