@model IEnumerable<Regiment>

@{
    ViewBag.Title = "Regiments";
}

@section navigation {
    <nav id="companyToolHeaderContainer" class="worBorder" style="padding: 0px;">

        <ul style="margin: 0px; padding: 0px; height: 60px;">
            <li style="margin: 0px;">
                <div id="companyToolHeaderTextContainer">

                    <ul class="companyToolNavUl" style="width: 30%;">
                        <li>
                            <h1 class="text-center">
                                <a id="navUSARegiments" href="@Url.Action(Labels.USA, "Regiments")">@Labels.USA</a>
                            </h1>
                        </li>
                    </ul>
                    
                    <ul class="companyToolNavUl" style="width: 40%;">
                        <li>
                            <h1 class="text-center">
                                <a id="navAllRegiments" class="active" href="@Url.Action("Index", "Regiments")">All</a>
                            </h1>
                        </li>
                    </ul>

                    <ul class="companyToolNavUl" style="width: 30%;">
                        <li>
                            <h1 class="text-center">
                                <a id="navCSARegiments" href="@Url.Action(Labels.CSA, "Regiments")">@Labels.CSA</a>
                            </h1>
                        </li>
                    </ul>

                </div>
            </li>
        </ul>

        <div class="fancyClearBoth">

        </div>

    </nav>
}


<div id="regimentsContainer">
    @foreach (var regiment in Model)
    {
        @await Html.PartialAsync("_RegimentBrief", regiment)
    }
</div>