@model WarOfRightsWeb.Data.Regiment

@{
    var regiment = Model;
    var regimentID = regiment.ID;
    var faction = regiment.Faction; //Extensions.RegimentFaction(regiment);
    var type = regiment.Type; //Extensions.RegimentType(regiment);
    var regimentName = regiment.Name; //Regiments.DisplayNames[regiment];
    var description = regiment.Description; // Regiments.Descriptions[regiment];

    ViewBag.Title = regimentName;
}

@section navigation {
    <nav id="companyToolHeaderContainer" class="worBorder" style="padding: 0px;">

        <ul style="margin: 0px; padding: 0px; height: 60px;">
            <li style="margin: 0px;">
                <div id="companyToolHeaderTextContainer">

                    <ul class="companyToolNavUl" style="width: 30%;">
                        <li>
                            <h1 class="text-center">
                                <a id="navUSARegiments" href="@Url.Action(Labels.USA, "Regiments")">USA</a>
                            </h1>
                        </li>
                    </ul>

                    <ul class="companyToolNavUl" style="width: 40%;">
                        <li>
                            <h1 class="text-center">
                                <a id="navAllRegiments" href="@Url.Action("Index", "Regiments")">All</a>
                            </h1>
                        </li>
                    </ul>

                    <ul class="companyToolNavUl" style="width: 30%;">
                        <li>
                            <h1 class="text-center">
                                <a id="navCSARegiments" href="@Url.Action(Labels.CSA, "Regiments")">CSA</a>
                            </h1>
                        </li>
                    </ul>

                </div>
            </li>
        </ul>

        <div class="fancyClearBoth">
        </div>

    </nav>
}

<h2 class="contentTitle" id="tabTitle">@regimentName</h2>

<div id="regimentDescription" class="fancyClearBoth">
    <p>@Html.Raw(description)</p>
</div>

<div id="regimentRankImages" class="fancyCenter text-center">

    @{
        var nco = Url.RegimentImageOrDefault(faction, type, regimentID, Labels.NCO);
        var officer = Url.RegimentImageOrDefault(faction, type, regimentID, Labels.Officer);

        const string defaultCss = "background-size: 250px 250px; background-position-y: -60px; background-position-x: -30px;";
        const string flagCss = "background-size: contain; background-position-y: -2px;";

        var bugler = Url.RegimentImageOrDefault(faction, type, regimentID, Labels.Bugler);
        var drummer = Url.RegimentImageOrDefault(faction, type, regimentID, Labels.Drummer);
        var fifer = Url.RegimentImageOrDefault(faction, type, regimentID, Labels.Fifer);

        var artilleryPrivate = Url.RegimentImageOrDefault(faction, type, regimentID, Labels.ArtilleryPrivate);
        var infantryPrivate = Url.RegimentImageOrDefault(faction, type, regimentID, Labels.Private);
        var flagBearer = Url.RegimentImageOrDefault(faction, type, regimentID, Labels.FlagBearer);
    }

    @if (type == RegimentType.Artillery)
    {
        <a href="@artilleryPrivate" target="_blank" class="imageContainer" style="float: none;">
            <div style="background: url('@artilleryPrivate'); @defaultCss" class="worTightBorder"></div>
            <span>Artillery Private</span>
        </a>

        <a href="@nco" target="_blank" class="imageContainer" style="float: none;">
            <div style="background: url('@nco'); @defaultCss" class="worTightBorder"></div>
            <span>NCO</span>
        </a>

        <a href="@officer" target="_blank" class="imageContainer" style="float: none;">
            <div style="background: url('@officer'); @defaultCss" class="worTightBorder">
            </div>
            <span>Officer</span>
        </a>
    }
    else if (type == RegimentType.Infantry)
    {
        <a href="@infantryPrivate" target="_blank" class="imageContainer" style="float: none;">
            <div style="background: url('@infantryPrivate'); @defaultCss" class="worTightBorder"></div>
            <span>Private</span>
        </a>


        <a href="@bugler" target="_blank" class="imageContainer" style="float: none;">
            <div style="background: url('@bugler'); @defaultCss" class="worTightBorder"></div>
            <span>Bugler</span>
        </a>

        <a href="@drummer" target="_blank" class="imageContainer" style="float: none;">
            <div style="background: url('@drummer'); @defaultCss" class="worTightBorder"></div>
            <span>Drummer</span>
        </a>

        <a href="@fifer" target="_blank" class="imageContainer" style="float: none;">
            <div style="background: url('@fifer'); @defaultCss" class="worTightBorder"></div>
            <span>Fifer</span>
        </a>


        <a href="@flagBearer" target="_blank" class="imageContainer" style="float: none;">
            <div style="background: url('@flagBearer'); @flagCss" class="worTightBorder"></div>
            <span>Flag Bearer</span>
        </a>

        <a href="@nco" target="_blank" class="imageContainer" style="float: none;">
            <div style="background: url('@nco'); @defaultCss" class="worTightBorder"></div>
            <span>NCO</span>
        </a>

        <a href="@officer" target="_blank" class="imageContainer" style="float: none;">
            <div style="background: url('@officer'); @defaultCss" class="worTightBorder">
            </div>
            <span>Officer</span>
        </a>
    }

</div>

<div id="briefMapsContainer" class="regimentEncountersContainer">

    <h2>Encounters:</h2>
    @if (Model.MapRegiments.Any())
    {
        foreach (var mapRegiment in Model.MapRegiments)
        {
            @await Html.PartialAsync("_MapBrief", mapRegiment)
        }
    }
    else
    {
        <p>This regiment does not represent in any map in the game yet!</p>
    }

</div>

<div class="fancyClearBoth"></div>

@section scripts {
    <script>
        $(document).ready(function () {
            $("#nav" + "@faction" + "Regiments").addClass('active');
        })
    </script>
}